
h1.title {
	color: orangered;
	text-align: center;
	font-size: 48px;
	font-weight: bold;
	
	
}

.form-title {
	height: 5em;
}

div.gift-form {
	padding: 2rem 2rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

div.gift-form-rand {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

* {
	
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family:'Courier New', Courier, monospace;
	scroll-behavior: smooth;
  }

.webpage-forms {
	padding: 2rem 2rem;
	text-align: center;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	gap: 10%;
  }

  .webpage-forms h1 {
	color: orangered;
	font-style: normal;
	font-size: 32px;
	font-weight: bold;
  }

.age-interest {
	height: 5em;
}

.div-gift-num {
	height: 5em;
}

.div-budget {
	height: 5em;
}

.gift-form-rand {
	padding: 1rem 1rem;
	/* vertical-align: middle; */
}

.gift-form-rand h1 {

	height: 2em;
}

.rand-num-gift {
	
	height: 5em;
}


input[type=number] {
	border: 1px solid rgb(70, 68, 68);
	border-radius: 4px;
	width: 3em;
	height: 2em;
	text-align: center;
	
}

input[type=text],
select,
textarea {
	width: 12em;
	height: 2em;
 
  border: 1px solid rgb(70, 68, 68);
  border-radius: 4px;
  
}

label {
	color: #F24726;
	font-size: 18px;
	
  }

  input[type=submit] {
	background-color: orangered;
	color: whitesmoke;
	font-weight: bold;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	/* float: right; */
  }
  
  input[type=submit]:hover {
	background-color: grey;
	
  }


#ex1Slider .slider-selection {
	background: grey;
}

#ex1Slider .slider-handle {
	background: #F24726;
}


footer {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: 5%;
    background: rgb(39, 40, 41);
  }