{% extends "base.html" %}

{% block head %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block title %}Find Gift{% endblock %}
{% block content %}
    <h1 class="title">Find-A-Gift</h1>

    <div class="webpage-forms">
      <div class="gift-form">
        <div class="form-title">
          <h1>Gift Recommend</h1>
        </div>
        <form action="#" method="post">
          <div class="age-interest">
            <label for="age">Age: </label>
            <input type="number" name="age" required/>
            <label for="form">Choose an Interest:</label>
            <select id="form" name="interest" type="text" required>
              <option value="misc">Misc</option>
              <option value="baseball">Baseball</option>
              <option value="star wars">Star Wars</option>
              <option value="basketball">Basketball</option>
              <option value="nickelodeon">Nickelodeon</option>
              <option value="graphic tees">Graphic-Tees</option>
            </select>
            </div>
            <div class="div-gift-num">
              <label for="num_of_gifts">Number of Gifts:</label>
              <input name = "num_of_gifts" id="basic" type="number" data-slider-id='ex1Slider' data-slider-handle="round" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="5"/></p>  
            </div>
            
            <div class="div-budget">
              <label for="budget">Budget: </label>
              <input id="range" data-slider-id='ex1Slider' data-slider-handle="round" type="text" name="budget"/>    
                <script>
                  // Basic Slider
                  var slider = new Slider("#basic", {
                    tooltip: 'show'
                  });
                  var slider = new Slider("#range", {
                      min: 1,
                      max: 250,
                      value: [1, 10],
                      range: true,
                      tooltip: 'show'
                  });
                </script>
            </div>
            <p><input type="submit" name="submit-gift" value="Find Gifts"/></p>
        </form>
        <br>
      </div>

      

      <div class="gift-form-rand">
        <form action="#" method="post">

          <h1>Random Gift</h1>
        <div class="rand-num-gift">
          <label for="num_of_gifts_rand">Number of Gifts:</label>
          <input name = "num_of_gifts_rand" id="basic-rand" type="text" data-slider-id='ex1Slider' data-slider-handle="round" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="2"/></p>
          <label for="budget-rand">Budget: </label>
              <input name="budget-rand" id="range-rand" data-slider-id='ex1Slider' data-slider-handle="round" type="text" name="budget"/>    
          
          <script>
            var slider_rand = new Slider("#basic-rand", {
            tooltip: 'show'
            });
            var slider = new Slider("#range-rand", {
                      min: 1,
                      max: 250,
                      value: [1, 10],
                      range: true,
                      tooltip: 'show'
                  });
            
          </script>
        </div>

        




            <!-- <label for="submit-random">Find Gifts:</label> -->
            <input type="submit" name="submit-random" value="Find Gifts"/>   
        </form>
      </div>

    </div>

{% endblock %}